<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>About</title>
    <style>
      .testimonial {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0
      }
      
      .testimonial::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .testimonial img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }
      
      .testimonial span {
        font-size: 20px;
        margin-right: 15px;
      }
      
      @media (max-width: 500px) {
        .testimonial {
            text-align: center;
        }
        .testimonial img {
            margin: auto;
            float: none;
            display: block;
        }
      }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Wayanad voyage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rooms">Packages</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/empsign">Vendor' Sign In</a>
          </li>
        
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/loginPage">Log In</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/registerPage">Register</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/admin">Admin</a></button>
          </form>
        </div>
      </nav>

	
	<!-- About Section Start -->
	<section id="about"   class="text-center py-5 text-light">
		<div class="inner-overlay">
			<div class="container">
				<div class="row">
					<div class="col mt-5 pt-4">
						<h1 class="text-dark">About Us</h1 >
						<p class="lead text-dark">
							At Wayanad Voyage, we offer curated travel experiences that showcase the natural beauty and cultural richness of Wayanad. Join us for an unforgettable journey through this enchanting region.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Section End -->

	<!-- Info Section Start -->
	<section id="about-info" class="py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6  align-self-center">
					<h1>Our Story</h1>
					<p class="lead">
						Wayanad Voyage was born out of a deep passion for the enchanting landscapes and rich cultural heritage of Wayanad. Founded by avid travelers and locals, our mission is to share the hidden gems and authentic experiences of this stunning region with visitors from around the world. From the lush tea plantations and misty mountains to the vibrant local traditions, we strive to create unforgettable journeys that connect our guests with the heart and soul of Wayanad. Join us, and let’s explore the magic of Wayanad together.
					</p>
					<p class="lead">
						Wayanad Voyage started as a dream to create a bridge between travelers and the serene beauty of Wayanad. Our founders, with their deep roots in the region and love for exploration, sought to design experiences that go beyond typical tourism. We focus on sustainable travel, working closely with local communities to ensure that our tours are both enriching for our guests and beneficial to the residents. Every journey with Wayanad Voyage is crafted to offer a unique blend of adventure, relaxation, and cultural immersion, making each visit a memorable chapter in your travel story.
					</p>
				</div>
				<div class="col-lg-6 col-md-6 align-self-center text-center">
					<img src="/static/ab2.jpg" 
					class="img-fluid w-50 h-70 rounded-circle">
				</div>
			</div>
		</div>
	</section>
	<!-- About Info Section End -->

	
<!-- About Services Section End-->

<!-- About Testimonial Section Start -->
<section id="about-testimonial" class="py-5">
	
</section>
<!-- About Testimonial Section End -->

      <div class="container">
      <div class="image">
        <video controls style="width:600px;height:350px;float:right;">
          <source src="/static/vid.mp4" type="video/mp4">
          Your browser does not support HTML video.
        </video>
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>Wayanad Voyage</h1>
          <ul>
            <li><a href="/static/1.mp4" target="_blank"></a>Passionate explorers deeply rooted in Wayanad's beauty.</li>
            <li>Community-driven initiatives for authentic experiences.</li>
            <li>Personalized service exceeding every traveler's expectations.</li>
            <li>Explore Wayanad's wonders with us today.</li>
            <li>Sustainable journeys tailored by local experts.<br><br><br></li>
          </ul>
        </p>
      </div>
      <br><br><br><br><br>
      <center><h2>Testimonials</h2></center>
      <marquee>
        <div class="testimonial">
          <img src="/static/8.jpg" alt="Avatar" style="width:90px">
          <p><span>Chris Fox.</span> Edinburgh, UK</p>
          <p>Good place, nice ambience, in the vicinity of some quiet and beautiful spots of Wayanad.<br>Decent views.Less Tariff. Food was awesome.</p>
        </div>
        <div class="testimonial">
          <img src="/static/9.jpg" alt="Avatar" style="width:90px">
          <p><span>Rebecca Flex.</span> Barcelona, Spain</p>
          <p>One of the best trip guides i have see at in terms of Locations, Service and stay.</p>
        </div>
        <div class="testimonial">
          <img src="/static/10.jpg" alt="Avatar" style="width:90px">
          <p><span>Marie Li Hui.</span> Seoul, South Korea</p>
          <p>The best place I have visited in India,Great place and great people managing it.</p>
        </div>
        <div class="testimonial">
          <img src="/static/11.jpg" alt="Avatar" style="width:90px">
          <p><span>Ananth V. K.</span> Bangaluru, Karnataka</p>
          <p>I went there on family holiday. Enjoyed our stay there.,<br>food was awesome. Luxury stay. It was a wonderful experience.</p>
        </div>
      </marquee>
      <!-- About Services Section Start -->
	<section id="about-services" class="py-5 text-light
	text-center bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="card bg-success ">
					<div class="card-body">
						
						<h2 class="text-light m-0">Our Programs</h2>
						<p class="lead">Discover a variety of immersive tours and activities tailored to showcase the best of Wayanad's natural beauty and cultural heritage. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="card bg-danger ">
					<div class="card-body">
						
						<h2 class="text-light m-0">Our Services</h2>
						<p class="lead">We offer comprehensive travel planning, guided tours, and personalized experiences to ensure your Wayanad adventure is seamless and unforgettable.						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="card bg-primary ">
					<div class="card-body">
						
						<h2 class="text-light m-0">Our Team</h2>
						<p class="lead">Our greatest asset is our dedicated team of professionals who are passionate about providing you with the best possible experience. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-lg-4 col-md-4">
				<div class="card bg-info ">
					<div class="card-body">
						
						<h2 class="text-light m-0">Our Commitment</h2>
						<p class="lead">At Wayanad Voyage, we are committed to creating memories that last a lifetime. .</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="card bg-primary ">
					<div class="card-body">
						
						<h2 class="text-light m-0">Our Happiness</h2>
						<p class="lead">Your joy is our priority. We strive to create memorable moments and experiences that leave you with a smile that lasts long after your journey ends.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="card bg-success ">
					<div class="card-body">
					
						<h2 class="text-light m-0">Our Packages</h2>
						<p class="lead">Explore our thoughtfully curated packages, designed to offer diverse and enriching experiences, ensuring your trip to Wayanad is nothing short of extraordinary.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

    <!-- team -->
<section class="w3l-team" id="team">
  <div class="team-block py-5">
    <div class="container py-lg-5">
      <div class="title-content text-center mb-lg-3 mb-4">
        <h6 class="sub-title">Our team</h6>
        <h3 class="hny-title">Meet our Guides</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid" /></a>
            <div class="box-content">
              <h3 class="title"><a href="https://www.instagram.com/vivekps.__/">DEVAN</a></h3>
              
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid" /></a>
            <div class="box-content">
              <h3 class="title"><a href="https://www.instagram.com/ajay_perumpallil/">SINAN</a></h3>
              
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid" /></a>
            <div class="box-content">
              <h3 class="title"><a href="https://www.instagram.com/el_stoic/">PACHU</a></h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid" /></a>
            <div class="box-content">
              <h3 class="title"><a href="https://www.instagram.com/__abyn__/">ANANDHU</a></h3>
              
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="testimonial text-center">
  <p><span>The vivek, Wayanad</span> © The vivek wayanad 2022. All Rights Reserved.</p>
  <p><h3>Follow Us</h3></p>
  <div class="d-flex flex-row justify-content-center">
  <img src="/static/12.jpg" alt="Avatar" style="width:200px">
  </div>
</div>

<!-- //team -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>