<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package' Details Add</title>
</head>
<body>
    <h1>Wayanad Voyage</h1>
    <h1>Add member</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
First Name:<br>
<input name="first">
<br><br>
Last Name:<br>
<input name="last">
<br><br>
<div class="form-group">
    <label for="password2">Date:</label><br>
    <input type="date" class="form-control" id="cin"  placeholder="check in " name="cin" required="True">
</div>
<br>

<input type="submit" value="Submit">
</form>
</body>
</html>