<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package' Details Update</title>
</head>
<body>
    <h1>Wayanad Voyage</h1>
    <h2>Members</h2>

    <h1>Update member</h1>

    <form action="updaterecord/{{ mymember.id }}" method="post">
    {% csrf_token %}
    First Name:<br>
    <input name="first" value="{{ mymember.firstname }}">
    <br><br>
    Last Name:<br>
    <input name="last" value="{{ mymember.lastname }}">
    <br><br>
    
    <input type="submit" value="Submit">
    </form>
</body>
</html>